---
import Title from '../components/Title.astro';
import Profile from '../components/Profile.astro';
import BooksList from '../components/BooksList.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="your spotify top five">
	<main class="m-auto max-w-4xl">
		<Title/>
		<Profile/>
		<BooksList/>
	</main>
</Layout>