---
import Title from '../components/Title.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="m-auto max-w-4xl">
		<Title/>
		<ul class="grid grid-cols-2 md:grid-cols-3 gap-3">
			<li>
				<a class="hover:scale-105 inline-block transition-all hover:contrast-125 hover:shadow-2xl" href="/clean-code">
					<img class="aspect-[389/500] h-full object-cover w-full max-w-full rounded-lg" src="https://m.media-amazon.com/images/I/41xShlnTZTL._SX218_BO1,204,203,200_QL40_FMwebp_.jpg" alt="Portada del libro Clean Code">
				</a>
			</li>
		</ul>
	</main>
</Layout>