---
import BookItem from "./BookItem.astro";

const books = [
    {
        id: 'clean-code',
        title: 'Clean Code: Manual de desarrollo agil de software',
        img: 'https://m.media-amazon.com/images/I/41xShlnTZTL._SX218_BO1,204,203,200_QL40_FMwebp_.jpg'
    },
    {
        id: 'the-self-taught-programmer',
        title: 'The Self-Taught Programmer: The Definitive Guide to Programming Professionally',
        img: 'https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1482729135i/33580202.jpg'
    },
    {
        id: 'introduction-to-c-programming',
        title: 'Introduction to C Programming',
        img: 'https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1437221496i/17470848.jpg'
    },
    {
        id: 'common-sense-guide-to-data-structures-and-algorithms',
        title: 'A Common-Sense Guide to Data Structures and Algorithms: Level Up Your Core Programming Skills',
        img: 'https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1490789883i/34695800.jpg'
    },
]
---

<ul class="grid grid-cols-2 md:grid-cols-3 gap-3 px-4">
    {
        books.map(({id, title, img}) =>  {
            return (
                <li>
                    <BookItem id={id} title={title} img={img}/>
                </li>
            )
        })
    }
</ul>